@import 'variables';

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  background-color: $page-background-color;
  line-height: 1.45rem;
}

strong {
  color: $amethyst;
}
