@mixin flex-default($flexOne: true, $flexDirection: column) {
  & {
    display: flex;
    flex-direction: $flexDirection;

    @if ($flexOne) {
      flex: 1;
    }
  }
}

@mixin host($flexOne: true) {
  :host {
    @include flex-default($flexOne);
  }
}
