@import 'variables';
@import 'mixins';

:host {
  @include neumorphism-drop-shadow($page-background-color, 9px, 15px);

  border: none;
  background-color: $page-background-color;
  color: $font-color;
  padding: $gap;
  border-radius: $gap / 4;
  font-weight: bold;
  font-size: 100%;
  margin: auto auto 0 auto;

  &:hover {
    @include neumorphism-inset-shadow($page-background-color, 5px, 8px);
  }

  &:active,
  &:focus {
    outline: none;
    border: none;
  }
}
