@import 'mixins';

@include host(false);

:host {
  flex-direction: row;
}

$square: 30px;

.selected-color {
  width: $square * 2;
  height: $square * 2;
}

.colors {
  display: flex;
}

.color {
  width: $square;
  height: $square;
}
