<div class="top">
  <app-card>
    <h2 translate>LOBBY.SETTINGS.TITLE</h2>
    <form>
      <div class="input-group">
        <label translate for="language">LOBBY.SETTINGS.LANGUAGE</label>
        <input id="language" />
      </div>
    </form>
  </app-card>

  <app-card>
    <h2 translate>LOBBY.USER_LIST.TITLE</h2>
    <app-user-list></app-user-list>
  </app-card>
</div>

<div class="invite">
  bla
</div>
