@import 'variables';
@import 'mixins';

@include host();

.top {
  @include flex-default(false, row);
}

app-card + app-card {
  margin-left: 2 * $gap;
}

.invite {
  margin-top: 2 * $gap;

  .url-container {
    display: flex;

    .url {
      position: relative;
      flex: 1;
      display: flex;
      align-items: center;

      .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $page-background-color;
        pointer-events: none;
        display: flex;
        align-items: center;
      }

      &:hover {
        .overlay {
          display: none;
        }
      }
    }

    button {
      padding: $gap / 2;
      margin-left: $gap;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.input-group {
  display: flex;
}

label {
  margin-right: $gap;
}

input,
select {
  font-size: 100%;
  outline: none;
  flex: 1;
  text-align: right;
  max-width: 50%;
  margin-left: auto;
}

fa-icon {
  margin-right: $gap / 2;
}
