@import 'variables';
@import 'mixins';

@include host();

:host {
  background-color: $page-background-color;
  padding: $gap;
  border-radius: $gap;

  @include neumorphism-drop-shadow($page-background-color);

  header {
    margin-bottom: 2 * $gap;
  }
}
