@import 'variables';
@import 'mixins';

@include host();

:host {
  background-color: $silver;
  padding: $gap;
  border-radius: $gap;

  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);

  header {
    margin-bottom: 2 * $gap;
  }

  ::ng-deep {
    h2 {
      color: $midnight-blue;
    }

    p {
      color: $midnight-blue;
    }
  }
}
