@import 'mixins';
@import 'variables';

@include host(false);

:host {
  p {
    text-align: center;
    color: $asbestos;
  }

  a {
    color: $silver;
    text-decoration: none;
  }

  .disclaimer {
    font-size: 80%;
  }
}
