@import 'mixins';
@import 'variables';

@include host();

form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.input-group {
  display: flex;
}

label {
  margin-right: $gap;
  display: none;
}

input {
  font-size: 100%;
  outline: none;
  flex: 1;
  background-color: $midnight-blue;
  border: none;
  color: $clouds;
  padding: $gap / 2 $gap;

  &::placeholder {
    color: $silver;
  }

  @include neumorphism-inset-shadow($midnight-blue, 2px);
}
