@import 'mixins';
@import 'variables';

@include host();

form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.input-group {
  display: flex;
}

label {
  margin-right: $gap;
  display: none;
}

input {
  font-size: 100%;
  outline: none;
  flex: 1;
  background-color: $midnight-blue;
  border: none;
  color: $clouds;
  padding: $gap / 2 $gap;

  &::placeholder {
    color: $silver;
  }

  @include neumorphism-inset-shadow($midnight-blue, 2px);
}

button {
  border: none;
  background-color: $midnight-blue;
  color: $silver;
  padding: $gap;
  border-radius: $gap / 4;
  font-weight: bold;
  font-size: 100%;
  margin: auto auto 0 auto;
  cursor: pointer;

  @include neumorphism-drop-shadow($midnight-blue, 2px);

  &:hover {
    @include neumorphism-inset-shadow($midnight-blue, 2px);
  }
}
