@import 'mixins';
@import 'variables';

@include host();

form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.input-group {
  display: flex;
}

label {
  margin-right: $gap;
  display: none;
}

input {
  font-size: 100%;
  outline: none;
  flex: 1;
  background-color: $page-background-color;
  border: none;
  padding: $gap / 2 $gap;
  border-radius: $gap;

  &::placeholder {
    color: $asbestos;
  }

  @include neumorphism-inset-shadow($page-background-color, 5px, 8px);
}
