@import 'mixins';
@import 'variables';

@include host(false);

:host {
  align-items: center;
  justify-content: center;
}

::ng-deep {
  .Connecting {
    color: $peter-river;
  }

  .Connected {
    color: $emerald;
  }

  .Disconnected {
    color: $pomegranate;
  }
}
