<app-card>
  <h2></h2>
  <app-user-information></app-user-information>
</app-card>

<app-card>
  <h2 translate>WELCOME.TITLE</h2>
  <div [innerHTML]="'WELCOME.DESCRIPTION' | translate"></div>
</app-card>
